services:
  postgres:
    image: postgres:17.7
    restart: unless-stopped
    container_name: ami-db
    ports:
      - '5432:5432'
    environment:
      - POSTGRES_PASSWORD=password
      - POSTGRES_USER=user
      - POSTGRES_DB=ami
